<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>Model no:</strong>
  <%= @vehicle.model_no %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vehicle.price %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
